{:deps {org.babashka/http-server {:mvn/version "0.1.11"}}
 :tasks
 {
  clean {:requires ([babashka.fs :as fs])
         :task (fs/delete-tree "target")}

  server {:requires ([babashka.http-server :as server])
          :task (server/exec {:port 50010
                              :dir "target/public"})}

  squint-watch {:task (shell "npx squint watch")}

  }}
